.container {
	z-index: -2;
	width: 1280px;
	height: 5750px;
	background: linear-gradient(black,#351646);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50px, -50px);

}

.navbar {
	width: 1280px;
	height: 88px;
	background: black;
	position: relative;
	bottom: 15.5px;
}

.title { 
	margin-left: 40px;
	font-size: 100px;
	position: relative;
	top: 150px;
	color: white;
 }

.title2 { 
 	margin-left: 40px;
 	font-size: 100px;
 	position: relative;
 	top: 170px;
 	color: #D3D3D3;
  }

.title3 { 
  	margin-left: 40px;
  	font-size: 100px;
  	position: relative;
 	top: 190px;
 	color: #808080;
  }
  
.date { 
  	color: white;
  	font-size: 30px;
  	margin-left: 40px;
  	position: absolute;
  	top: 110px;
   }

.navtitle { 
	color: white;
	font-size: 40px;
	position: absolute;
	left: 32%;
	top: 27%;
   }

.plan { 
	color: grey;
	font-size: 30px;
	position: absolute;
	top: 32%;
	margin-left: 20px;
}

 

.castleimage{ 
 z-index: -1;
 width: 1280px;
 height: 600px;
 background: url("../images/Cool Castle.jpg") no-repeat center;
 background-size: 100%;
 position: absolute;
 top: 102%;
}

.paragraph {
 	color: #D3D3D3;
	position: absolute;
	top: 800%;
	margin-left: 40px;
	margin-right: 40px;
	font-size: 30px;
	line-height: 40px;
}

.line { 
	width: 1200px;
	height: 2px;
	background: #D3D3D3;
	position: absolute;
	top: 1090%;
	margin-left: 40px;
 }

.seductive { 
	font-size: 70px;
	position: absolute;
	top: 1130%;
	color: #D3D3D3;
	margin-left: 40px;
 }

.SeductiveParagraph { 
	position: absolute;
	top: 1220%;
	color: #D3D3D3;
	font-size: 30px;
	margin-left: 40px;
	margin-right: 200px;
	line-height: 40px;
	opacity: 60%;

 }

.crowlady { 
	background: url("../images/crow.jpg") no-repeat center;
	width: 1200px;
	height: 600px;
	position: absolute;
	top: 1400%;
	margin-left: 40px;
 }

.info1 { 
	color: grey;
	position: absolute;
	top: 2100%;
	margin-left: 80px;
	font-size: 20px;
 }

.survey { 
	font-size: 70px;
	position: absolute;
	top: 2200%;
	color: #D3D3D3;
	margin-left: 40px;
 }

.SurveyParagraph { 
	font-size: 30px;
	font-weight: normal;
	margin-top: 15px;
	line-height: 40px;
	margin-right: 200px;
	opacity: 60%
 }

 .skull {
 	background: url("../images/skull.jpg") no-repeat center;
 	width: 1200px;
 	height: 600px;
 	margin-top: 40px;
 }

.info2 { 
	font-weight: normal;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	margin-left: 60px;
 }

.spectacular { 
	font-size: 70px;
	color: #D3D3D3;
	margin-left: 40px;
	position: absolute;
	top: 3240% 

}

.SpectacularParagraph {
	line-height: 40px;
	font-weight: normal;
	margin-top: 15px;
	opacity: 60%;
	font-size: 30px;
	margin-right: 200px;
}

.MyWife { 
	background: url("../images/Siouxsie.jpg") no-repeat center;
	width: 1200px;
 	height: 600px;
 	margin-top: 40px;
 }

.info3 { 
	font-weight: normal;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	margin-left: 60px;
 }

.gothic { 
	font-size: 70px;
	color: #D3D3D3;
	margin-left: 40px;
	position: absolute;
	top: 4285%;
 } 

.GothicParagraph {
	line-height: 40px;
	font-weight: normal;
	margin-top: 15px;
	opacity: 60%;
	font-size: 30px;
	margin-right: 200px;
}

.william { 
	background: url("../images/oldpeople.jpg") no-repeat center;
	width: 1200px;
 	height: 600px;
 	margin-top: 40px;
 }

.info4 { 
	font-weight: normal;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	margin-left: 60px;
 }

.book { 
	font-size: 70px;
	color: #D3D3D3;
	margin-left: 40px;
	position: absolute;
	top: 5410%;
 }

.BookParagraph {
	line-height: 40px;
	font-weight: normal;
	margin-top: 15px;
	opacity: 60%;
	font-size: 30px;
	margin-right: 200px;
} 

.demonlady { 
	background: url("../images/wedonttalkaboutwherethischaracterisfrom.jpg") no-repeat center;
	width: 1200px;
 	height: 600px;
 	margin-top: 40px;
 }

.info5 { 
	font-weight: normal;
	font-size: 20px;
	color: grey;
	margin-top: 10px;
	margin-left: 60px;
 }